{%- if site.facebook_comments -%}
  <section class="post-footer-item comment">
    <div id="fb-root"></div>
    <div class="fb-comments"
         id="fb-comments"
         data-href="{{ page.url | absolute_url }}"
         data-width="{{ site.facebook_width | default: '100%' }}"
         data-numposts="{{ site.facebook_num_posts | default: 10 }}"
         data-order-by="{{ site.facebook_order_by | default: 'social' }}"
         data-colorscheme="light"></div>
  </section>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/{{ site.facebook_locale | default: 'vi_VN' }}/sdk.js#xfbml=1&version=v18.0&appId={{ site.facebook_app_id | default: '' }}" nonce="fb-nonce"></script>
{%- elsif site.disqus -%}
  <section class="post-footer-item comment">
    <div id="disqus_thread"></div>
  </section>
  <script>
    (function() {
      var d = document, s = d.createElement('script');
      s.src = '{{ site.disqus_url }}';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
{%- elsif site.livere -%}
  <section class="post-footer-item comment">
    <div id="lv-container" data-id="city" data-uid="{{ site.livere_uid }}"></div>
  </section>
  <script type="text/javascript">
     (function(d, s) {
         var j, e = d.getElementsByTagName(s)[0];
         if (typeof LivereTower === 'function') { return; }
         j = d.createElement(s);
         j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
         j.async = true;
         e.parentNode.insertBefore(j, e);
     })(document, 'script');
  </script>
  <noscript>Please enable JavaScript to use Livere comments normally</noscript>
{%- elsif site.Gitment -%}
  <section class="post-footer-item comment">
    <div id="container"></div>
  </section>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
  var gitment = new Gitment({
    id: '{{ page.id }}',
    owner: '{{ site.Gitment_owner }}',
    repo: '{{ site.Gitment_repo }}',
    oauth: { client_id: '{{ site.client_id }}', client_secret: '{{ site.client_secret }}' }
  })
  gitment.render('container')
  </script>
{%- endif -%}
