<!-- Blog post layout - Layout -->
<!DOCTYPE html>
<html>
<head>
<!-- Include head tag -->
{% include head.html %}
{% include androidColor.html %}
</head>
<body>

<!-- Top anchor point -->
<a id="htmlup" name="htmlup"></a>
<!-- Include blog post header options -->
{% include post-header.html %}
<!-- Include mobile dropdown options -->
{% include boot.html %}
<!-- Include blog post header styles -->
{% include post-title.html %}
<div class="markdown-body fadeInUp animated">

  {% if page.subtitle %}
    {% if page.color.size==0 or page.color==nil %}
      <div class="postpage-subtitle" style="border-left: 8px solid #9A85FF; border-right: 8px solid #9A85FF;">
        {{ page.subtitle }}
      </div>
    {% else %}
      <div class="postpage-subtitle" style="border-left: 8px solid {{ page.color }}; border-right: 8px solid {{ page.color }}">
        {{ page.subtitle }}
      </div>
    {% endif %}
  {% endif %}

  <!-- Article content -->
  {{ page.content }}
  <!-- Include share module -->
  {% include share.html %}
</div>

<!-- Bottom anchor point -->
<a id="htmldown" name="htmldown"></a>
<!-- Include comment module -->
{% include comment.html %}
<!-- Include goto module -->
{% include goto.html %}
<!-- Include page footer module -->
{% include footer.html %}

<!-- Reference wow.js animation effects -->
<script src="/assets/js/wow.js"></script>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        // offset: 600,
        mobile: true,
        live: true
    });
    wow.init();
</script>
<!-- 页面刷新回到顶部 -->
<script>
    window.onbeforeunload = function(){
        //Page automatically returns to top after refresh
        document.documentElement.scrollTop = 0;  //ie下
        document.body.scrollTop = 0;  //非ie
    }
</script>
<script src="/assets/js/main.js"></script>
</body>
</html>
